extends base_layout.pug

block append css
    link(rel='stylesheet', type='text/css', href='/stylesheets/navbar.css')
block navbar
    if(admin)
        ul.navbar
            li
                a(href=publicRoutes.admin.editAccount)= 'Account'
            li
                a(href=publicRoutes.admin.orderPage)= 'Orders'
            li
                a(href=publicRoutes.admin.createWorkerPage)= 'Create worker'
            li
                a(href=publicRoutes.admin.createPage)= 'Create Tags, categ. and prod.'
            form.navbar(action=publicRoutes.admin.logout, method='POST')
                input.navbar(type='submit', value='Logout')