head
    link(rel='stylesheet', type='text/css', href='/stylesheets/catalog.css')
body
    include mixins/snackbarMixin
    block content
        ul
            for category in categories
                li
                    button.category(type='button', value=category.name)= category.name
        #filterOptions
            each value, prop in filterProps
                - var filterId = prop + 'Filter'
                label.filterOption
                    = value.name + ': '
                    if value.type == 'text'
                        input(id=filterId, type='text', name=prop, autocomplete='off')
                    else if value.type == 'range'
                        div(id=filterId, class='slider', name=prop)
                        
            button#filter Filter
        #productGrid
        +snackbar()
    block scripts
        link(href='https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/13.1.4/nouislider.css', rel='stylesheet')
        script(src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/13.1.4/nouislider.js")
        script.
            $(document).ready( function () {
                var currentCategory = null;
                $('button.category').on('click', function(){
                    currentCategory = $(this).val();
                    filter({ category: $(this).val() })
                });
                $('div.slider').each((idx, el) => {
                    noUiSlider.create($(el).get(0), {
                        start: [0, 0],
                        connect: true,
                        range:{
                            'min': 0,
                            'max': 1000,
                        },
                        tooltips: true
                    });
                })
                $('button#filter').on('click', function(){
                    var data = { category: currentCategory };
                    $('.filterOption').each((idx, el) => {
                        var input = $(el).children('input');
                        var slider = $(el).children('div');
                        if(input.length){
                            data[input.attr("name")] = '%' + input.val() + '%';
                        }
                        if(slider.length){
                            data[slider.attr("name")] = slider.get(0).noUiSlider.get().
                            map(e => parseInt(e));
                        }
                    });
                    filter(data);
                });
                function filter(filterData){
                    $.ajax({
                        data: filterData,
                        type: 'POST',
                        url: '/catalog',
                        dataType: 'json',
                        success: function(data){
                            showSnackbar("Filtered", true);
                            var container = $('#productGrid')
                            container.empty();
                            $.each(data['result'], function(_, value){
                                container.append(`<div class='gridElement'>
                                    <img src='/data/uploads/${value.id}.jpg' width="200" height="100" 
                                    onerror="if (this.src != '/data/uploads/placeholder.jpg') this.src='/data/uploads/placeholder.jpg';">
                                    <div>Name: ${value.name}</div>
                                    <div>Manufacturer: ${value.manifacturer}</div>
                                    <div>Description: ${value.description}</div>
                                    <div>Cost: ${value.cost}</div>
                                </div>`)
                            });
                        },
                        error: function(data){
                            errorHandle(data.responseJSON, null)
                        }
                    });
                }
            });