mixin registerUserForm(path)
    form#path(action=path, method='POST')
        label(for='name') Username:
        br
        input(type='text', name='username', value='')
        br
        label(for='email') Email: 
        br
        input(type='text', name='email', value='')
        br
        label(for='pass') Password:
        br 
        input(type='password', name='pass', value='')
        br
        label(for='repass') Repeat password:
        br
        input(type='password', name='repass', value='')
        br
        ul.errors
        input(type='submit', value='Submit')

mixin registerWorkerForm(path)
    form(action=path, method='POST')
        label(for='name') Username:
        br
        input(type='text', name='username', value='')
        br
        label(for='email') Email: 
        br
        input(type='text', name='email', value='')
        br
        label(for='pass') Password:
        br 
        input(type='password', name='pass', value='')
        br
        label(for='repass') Repeat password:
        br
        input(type='password', name='repass', value='')
        br
        ul.errors
        input(type='submit', value='Submit')
mixin loginUserForm(path)
    form(action=path, method='POST')
        label(for='name') Username:
        br
        input(type='text', name='username', value='')
        br
        label(for='pass') Password:
        br 
        input(type='password', name='pass', value='')
        br
        ul.errors
        input(type='submit', value='Submit')
mixin loginWorkerForm(path)
    form(action=path, method='POST')
        label(for='name') Username:
        br
        input(type='text', name='username', value='')
        br
        label(for='pass') Password:
        br 
        input(type='password', name='pass', value='')
        br
        ul.errors
        input(type='submit', value='Submit')
mixin tcForm(path)
    form.TC(action=path, method='POST')
        label(for='name') Name:
        br
        input(type='text', name='name', value='')
        br
        label(for='color') Color string: 
        br
        input(type='text', name='color', value='')
        br
        label(for='visible') Visible:
        br 
        select(name='visible')
            option(value='True') True
            option(value='False') False
        br
        ul.errors
        input(type='submit', value='Submit')
mixin productForm(path)
    .productFromContainer
        form.productImage(method='post', enctype='multipart/form-data', action='/admin/upload/image')
                input(type='hidden', name='id', value='')
                input(type='file', name='productImage')
        form.Products(action=path, method='POST')
            label(for='name') Name:
            br
            input(type='text', name='name', value='')
            br
            label(for='manifacturer') Manufacturer: 
            br
            input(type='text', name='manifacturer', value='')
            br
            label(for='description') Description: 
            br
            input(type='text', name='description', value='')
            br
            label(for='cost') Cost: 
            br
            input(type='number', name='cost', value='')
            br
            label(for='category') Category:
            br 
            select.productCategory(name='category')
            button.productCategoryRefresh(type="button") Refresh
            br
            label(for='visible') Visible:
            br 
            select(name='visible')
                option(value='True') True
                option(value='False') False
            br
            label(for='ammount') Ammount: 
            br
            input(type='number', name='ammount', value='')
            ul.errors
            input(type='submit', value='Submit')
mixin productAmmountForm(path)
    form.Products(action=path, method='POST')
        label(for='ammount') Ammount: 
        br
        input(type='number', name='ammount', value='')
        ul.errors
        input(type='submit', value='Submit')
mixin editUserAccountForm(path)
    form(action=path, method='POST')
        label(for='name') Username:
        br
        input(type='text', name='username', value=username)
        br
        label(for='email') Email: 
        br
        input(type='text', name='email', value=email)
        br
        label(for='pass') Password:
        br 
        input(type='password', name='pass', value='')
        br
        label(for='pass') New Password:
        br 
        input(type='password', name='newpass', value='')
        br
        label(for='repass') Repeat new password:
        br
        input(type='password', name='repass', value='')
        br
        ul.errors
        input(type='submit', value='Submit')